.button {
    background-color: #68b738;
    font-family: $font;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
}

@media (min-width: $tablet-width) {
    .button {
    font-size: 20px;
    line-height: 20px;
    }
}
