.cat-owner__label {
    font-family: $font;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #222;
}

.cat-owner__item {
    font-family: $font;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
}
