
.page-footer__wrapper{
    background-color: #f2f2f2;
    padding-top: 40px;
}

.page-footer__logo-img {
    width: 100%;
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 30px;
    margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
    .page-footer__wrapper {
        padding: 0;
    }

    .page-footer__inner-wrapper {
        display: flex;
    }

    .page-footer__logo-img {
        border-bottom: none;
    }

}

@media (min-width: $desktop-width) {
    .page-footer__contacts {
        position: relative;
    }

}
