.item__heading {
    font-family: $font;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    color: #111;
}

.item-data-table__cell {
    font-size: 12px;
    line-height: 16px;
}
