.contacts__partnership-text {
    font-family: $font;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    color: #111;
}

.contacts__adress {
    line-height: 20px;
}

.copyright__info {
    font-size: 16px;
    line-height: 16px;
}
