
.site-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .site-list__item {
    min-height: 65px;
    width: 100%;
    text-align: center;
  }

  .site-list__link {
    text-decoration: none;
    color: #111;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Oswald", "Arial", sans-serif;
  }
